html, body, .container {
	height:100%;
}

.container { 
  width:80%;
  margin: auto;
  text-align: center;
  display: grid; 
  grid-template-rows:200px 5% 1fr; 
  grid-template-columns:5% 14% 1% 60% 20%; 
  grid-auto-flow: column;
  height:100%;
}

.header {
	height: 100%;	
	grid-column: 1 / 6;
	grid-row:1;
	text-align:;
	background-color: #abb5d9;

}

.inner {
	height: 50%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: left;
}

.inner > a {
	height: 100%;

}

.inner > a > img {
	height: 100%;
}

.menu {
	grid-column: 2;
	grid-row: 3;
	color: #abb5d9
}

.post {
	margin-bottom: 5px;
	border: 4px solid #abb5d9;
}

.content {
  margin: auto;
  width: 100%;
  background-color: #cdcdcd;
  color: #001033;
  grid-column: 4;
  grid-row:3;
  padding: 20px;
}

p {
	text-align: left;
}

ul {
	text-align: left;
}

body {
	font-family: "Arial", Arial, sans-serif;
	background-color: #49494c;
}

h3 {
	font-size: 35px;
}

.content > img {
	border: 4px solid #000000;
}

.content > div > img {
	margin-bottom: 20px;
}
