html, body, .container {
	height:100%;
}

.container { 
  width:80%;
  margin: auto;
  text-align: center;
  display: grid; 
  grid-template-rows:200px 5% 1fr 50px; 
  grid-template-columns:5% 14% 1% 60% 20%; 
  grid-auto-flow: column;
  height:100%;
}

/* Header */
.header {
	height: 200px;	
	grid-column: 1 / 6;
	grid-row:1;
	background-image: url("Images/Logo/header.jpg");
	background-position: center;
}

.headertable {
	height: 200px;
	width: 100%;
	table-layout: fixed;
  	border-spacing:0; 
  	border-collapse: collapse; 
}

.imagerow {
	height: 165px;
}

.imagetd {
	vertical-align: bottom;	
	padding-left: 5px;
}

.navrow {
	height: 35px;	
	margin:0;
    padding:0;
	display: block;
	border: 0;
	grid-column: 1 / 5;
}

.navtd {	
	margin:0;
    padding:0;
	display: block;
	border: 0;
}

table, tbody, td {
padding: 0px;
width: 100%;
text-align: left;
}

/* Main Navigation */
#nav {
	text-align:left;
	background-color: rgba(205,205,205, 0.7);
	display: inline-block;
	padding:0;
	width: 100%;
	height: 35px;
	margin: 0;
}
 
ul#navigation {
	display: inline-block;
	margin: 0px;
	padding:0;		
	width: 100%;
}
 
ul#navigation li {
    display:inline-block;
    font-size:14px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;
}
 
ul#navigation li a {
    padding:10px 25px;
    color:#001033;
    text-shadow:1px 1px 0px #cdd3e9;
    text-decoration:none;
    display:inline-block;
    background-color: transparent;
}
 
ul#navigation li a:hover {
    background:#e8ebf5;
    color:#282828;
}
 
ul#navigation li a.first {
    border-left: 0 none;
}
 
ul#navigation li a.last {
    border-right: 0 none;
}
 
ul#navigation li:hover > a {
    background#dfe4f3;
}

ul#navigation li:hover > ul {
    visibility:visible;
    opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background: rgba(248, 248, 248, 1);
    box-shadow:1px 1px 3px #ccc;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation ul {
    top: 43px;
    left: 1px;
}
 
ul#navigation ul li ul {
    top: 0;
    left: 181px; /* strong related to width:180px; from above */
}
 
ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #3b466d;
}
 
ul#navigation ul li a {
    background:transparent;
    padding:7px 15px;
    color:#001033;
    text-shadow:1px 1px 0px #e4e7f5;
    text-decoration:none;
    display:inline-block;
    float:left;
    clear:both;
    width:150px;
}

.instaicon {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-left: 8px;
	padding: 5px;
}

.instaiconkrb {
	width: 25px;
	height: 25px;
}

.instaicon:hover {
	background:#e8ebf5;
	
}

/* Menu */
.menu {
	grid-column: 2;
	grid-row: 3;
	color: #cdd3e9;
	font-size: 14px;
}

.post {
	margin-bottom: 5px;
	border: 2px solid #555557;
}

.postlink {
	display: inline-block;
	background:#e8ebf5;
}

.postlink:hover {
	color:#e8ebf5;
}

/* Content */
.content {
  width: 100%;
  background-color: #cdcdcd;
  color: #001033;
  grid-column: 4;
  grid-row:3;
  padding: 20px;
}

p {
	text-align: center;
}

ul {
	text-align: center;
}

body {
	font-family: "Arial", Arial, sans-serif;
	background-color: #49494c;
	color: #001033;
	font-size: 17px;
}

h3 {
	font-size: 35px;
}

h5 {
	text-align: left;
}

.content > div > img, .content > div > a > img {
	margin-bottom: 20px;
	border: 5px solid #001033;
}

/* Table */
table.Figurina {
  border: 3px solid #001033;
  background-color: #CDCDCD;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
table.Figurina td, table.Figurina th {
  padding: 5px;
  width: auto;
}
table.Figurina tbody td {
  font-size: 15px;
  font-weight: bold;
  color: #001033;
}
table.Figurina tr:nth-child(even) {
  background: #CDD3E9;
}

.checked {
    color: orange;
} 

/* Content Items */

.item-container {
	display: grid; 
  grid-template-rows: 250px; 
  grid-template-columns: repeat(auto-fill, 250px); 
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.item-container > div > a {
	height: 100%;
	width: 100%;
}

.item-container > div > a > img {
	height: 100%;
	width: 100%;
}

/*
.ic1 {
	grid-column: 1;
}

.ic2 {
	grid-column: 2;
}

.ic3 {
	grid-column: 3;
}

.ir1 {
	grid-row: 1;
}

.ir2 {
	grid-row: 2;
}

.ir3 {
	grid-row: 3;
}
*/

.scale {
	border: 5px solid #272ec8;
}

.nendoroid {
	border: 5px solid #0d8620;
}

.prize {
	border: 5px solid #e4860d;
}

/* Footer nicht im Einsatz */
.footer {
	height: 100%;	
	grid-column: 1 / 6;
	grid-row: 4;
	text-align:center;
	background-color: #abb5d9;
	margin-top: 10px;
	padding: 2.5px;
}
